<div class="container">
    <h2><%= cu === 'c' ? '작성' : cu === 'u' ? '수정' : cu === 'ans' ? '답글달기' :'상세보기' %></h2>
<% if (
    cls === 'MNG' || 
    (cls === 'CST' && cu === 'c' && login && list[0].write_YN === 'Y') || 
    (cls === 'CST' && cu === 'u' && loginid === board[0].loginid) || 
    (cu === 'detail')
) { %>

    <form action="<%= cu === 'c' ? '/board/create_process' : (cu === 'ans' ? '/board/anscreate_process' : '/board/update_process') %>" method="post">


        <% if (cu ==='u' || cu==='detail') { %>
        <input type="hidden" name="board_id" value="<%=board[0].board_id %>">
        <input type="hidden" name="typeId" value="<%= id%>">
        <input type="hidden" name="loginid" value="<%= loginid %>">
        <input type="hidden" name="date" value="<%= board[0].date %>">
        <input type="hidden" name="pNum" value="<%= pNum %>">
        <input type="hidden" name="p_id" value="<%= board[0].p_id %>">
        <% } %>
        <% if(cu=='detail' ) { %>
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input class="form-control" type="text" name="title" value="<%= board[0].title %>"style="width:300px;" disabled/>
        </div>
        <div class="mb-3">
            <label class="form-label">작성자</label>
            <input class="form-control" type="text" value="<%= board[0].name %>" style="width:300px;" disabled />
        </div>
         <div class="mb-3">
            <label class="form-label">작성일</label>
            <input class="form-control" type="text" value="<%= board[0].date %>" style="width:300px;" disabled />
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" name="content" style="width:800px;height:200px;"disabled><%= board[0].content %></textarea>
        </div>
        
        <% } %>

        <% if(cu==='u') { %>
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input class="form-control" type="text" name="title" value="<%= board[0].title %>"style="width:300px;" />
        </div>
        <div class="mb-3">
            <label class="form-label">작성자</label>
            <input class="form-control" type="text" value="<%= board[0].name %>" style="width:300px;" disabled />
        </div>
        
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" name="content" style="width:800px;height:200px;"><%= board[0].content %></textarea>
        </div>
         <% if (cls !== 'MNG') { %> 
        <div class="mb-3">
            <label class="form-label">갱신/삭제 시 비밀번호</label>
            <input class="form-control" name="password" style="width:300px;" />
        </div>
        <% } %>
         <% } %>

        <% if(cu==='c') { %>
            <input type="hidden" name="typeId" value="<%= id %>">
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input class="form-control" type="text" name="title" style="width:300px;" />
        </div>
        <div class="mb-3">
            <label class="form-label">작성자</label>
            <input class="form-control" type="text" value="<%= who %>" style="width:300px;" disabled />
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" name="content" style="width:800px;height:200px;"></textarea>
        </div>
        <% if (cls !== 'MNG') { %>
        <div class="mb-3">
            <label class="form-label">갱신/삭제 시 비밀번호</label>
            <input class="form-control" name="password" style="width:300px;" />
        </div>
         <% } %>
         <% } %>

          <% if(cu==='ans' && cls==="MNG") { %>
            
            <input type="hidden" name="title" value="<%= board[0].title %>">
            <input type="hidden" name="typeId" value="<%= board[0].type_id %>">
            <input type="hidden" name="p_id" value="<%= board[0].board_id %>">
            <input type="hidden" name="board_id" value="<%=board[0].board_id %>">
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input class="form-control" type="text" name="title" value="<%= board[0].title %>"style="width:300px;" disabled/>
        </div>
        <div class="mb-3">
            <label class="form-label">작성자</label>
            <input class="form-control" type="text" value="<%= who %>" style="width:300px;" disabled />
        </div>
         <div class="mb-3">
            <label class="form-label">작성일</label>
            <input class="form-control" type="text" value="<%= board[0].date %>" style="width:300px;" disabled />
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <input class="form-control" name="content" style="width:400px;height:100px;" value="<%= board[0].content %>" disabled/>
        </div>
        <div class="mb-3">
            <label class="form-label">답변</label>
            <textarea class="form-control" name="answer" style="width:400px;height:100px;"></textarea>
        </div>
        <% } %>


        <!-- 버튼 영역 -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <% if (cu === 'c') { %>
            <button class="btn btn-outline-primary btn-sm" type="submit">생성</button>

            <% } else if (cu === 'u') { %>
            <button class="btn btn-outline-primary btn-sm" type="submit">수정</button>

            <% } else if(cu === 'ans') { %>
                <button class="btn btn-info me-md-2" type="submit">작성</button>
                <a href="/board/view/<%= board[0].type_id %>/<%=pNum%>">
                    <button type="button" class="btn btn-info me-md-2">목록</button>
                </a>

            <% } else  { %>

                <% if ((cls === 'MNG') && ( board[0].re_YN === 'Y') && board[0].p_id == 0) { %>
                <a href="/board/answer/<%=board[0].board_id%>/<%=board[0].type_id %>/<%=board[0].p_id%>">
                    <button type="button" class="btn btn-info me-md-2">답변</button>
                </a>
                <% } %>
                
                <a href="/board/view/<%= board[0].type_id %>/<%=id%>">
                    <button type="button" class="btn btn-info me-md-2">목록</button>
                </a>
                 
            

            <% if ((cls === 'MNG') || (cls === 'CST' && loginid === board[0].loginid)) { %>
                <a href="/board/update/<%= board[0].board_id %>/<%= board[0].type_id %>/<%=id%>">
                    <button type="button" class="btn btn-info me-md-2">수정</button>
                </a>
                <a href="/board/delete/<%= board[0].board_id %>/<%= board[0].type_id %>/<%=id%>" onclick="return confirm('정말로 삭제하시겠습니까?');">
                    <button type="button" class="btn btn-info me-md-2">삭제</button>
                </a>
                <% } %>

            <% } %>

        </div>
    </form>

    <% } else { %>
    <p>게시글 작성 권한이 없습니다. </p>
    <% } %>
</div>
