<form method="POST">
<table class="table table-bordered border-primary table-hover" style="text-align: center;">
  <thead class="table-primary">
    <tr>
      <th>loginid</th>
      <th>고객명</th>
      <th>상품id</th>
      <th>상품명</th>
      <th>일자</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% let i = 0; while (i < list.length) { %>
    <tr>
      <td><%= list[i].loginid %></td>
      <td><%= list[i].customer_name %></td>
      <td><%= list[i].prod_id %></td>
      <td><%= list[i].product_name %></td>
      <td><%= list[i].date %></td>
      <td><a href="/purchase/view/<%= list[i].cart_id %>" style="text-decoration: none;">수정</a></td>
      <td><a href="/cartdelete/<%=list[i].cart_id%>" onclick="if(confirm('정말로 삭제하시겠습니까?')==false) return false">삭제</a></td>
      
    </tr>
    <% i++; } %>
  </tbody>
</table>

<% if (list.length === 0) { %>
<p>자료가 없으니  추가해 주십시오.</p>
<% } %>
