<table class="table table-bordered">
  <tr>
    <td rowspan="6">
      <img src="/images/<%= codes[0].image %>" style="width:300px;height:300px;">
    </td>
    <td><%= codes[0].name %></td>
  </tr>
  <tr><td>가격 : <%= codes[0].price.toLocaleString('ko-KR') %> 원</td></tr>
  <tr><td>브랜드 : <%= codes[0].brand %></td></tr>
  <tr><td>공급업체 : <%= codes[0].supplier %></td></tr>

  <% if(login) { %>
  <tr>
    <td>
     
      <a href="/purchase/detail/<%= codes[0].prod_id %>" class="btn btn-outline-primary btn-sm">구매</a>

      
      <form action="/purchase/j_process" method="POST" style="display:inline-block; margin-left:10px;">
        <input type="hidden" name="prod_id" value="<%= codes[0].prod_id %>">
        <button type="submit" class="btn btn-outline-primary btn-sm">장바구니</button>
      </form>
    </td>
  </tr>
  <% } %>
</table>
