<table class="table table-bordered border-primary">
    <tr><td>상품</td><td>상품명</td><td>단가</td><td>구매량</td><td>총금액</td>
        <td>구매일</td><td>취소여부</td></tr> 
    <% for (var i = 0; i < lists.length; i++) { %>
    <tr>
        <td><img src="/images/<%= lists[i].image %>" style="width:60px;height:30px;"></td>
        <td><%=lists[i].product_name%></td>
        <td><%=lists[i].price%>원</td>
        <td><%=lists[i].qty%></td>
        <td><%=lists[i].total%>원</td>
        <td><%=lists[i].date%></td>
        <td>
  <% if (lists[i].cancel === 'Y') { %>
    취소된 상품
  <% } else { %>
    <a href="/purchase/update_process/<%= lists[i].purchase_id %>">구매취소</a>
  <% } %>
</td>
        
    </tr>
    <% } %>
</table>   
<% if (lists.length === 0) { %>
<p>자료가 없습니다.</p>
<% } %>
